
div.et_pb_section.et_pb_section_0 {

  height:300px;
  background-image: linear-gradient(
    170deg
    ,#002e4f 1%,rgba(8,70,102,0.8) 100%),asset-url('artbook.png');
}

.dashboard {
  font-family:'Playfair Display', 'Helvetica', sans-serif;

}

.container1 {
  background:white;
}


#avatar {
  margin:0 auto;
  text-align:center;
}

.info-title {
  font-weight:600;
  text-align:center;
  margin-bottom:10px;
  color:black;
}

.info1 {
  padding:15px;
  border:0px solid black;
}
.info2 {
  padding:15px;
  border:0px solid black;
}

.dashlinksetmoney{
  padding:15px;
  border:0px solid black;
  margin-bottom:10px;
}

.text-dashlink {
  text-align:left;
  width:140px;
  padding:10px;
  line-height:30px;
  font-size:23px;
}

.dashboardcard2 {
margin:0 auto;
text-align:center;
padding:5px;
border:0px solid black;
}


.averagerating {

  width:140px;
  height:200px;
  z-index:400;
  font-size:22px;
  border-radius:10px;
  background:white;
  border-bottom: 70px solid #7E94FF;
  margin: 10px 0px 0px 0px;

}

.averageratingetsocial {
  display:flex;
  background:white;
  height:200px;
  margin: 30px 30px 0px 10px;
  border-radius:10px;

  background:#ECFCFF;
}

.containerlink{
  width:140px;
  margin:0 auto;
}


.boutonprb
{

  margin:0 auto;
  text-align:center;
  width:120px;
  height:120px;
  border-radius:0px;
  color:black;
  padding:15px;
  font-size:16px;
  padding:25px;
  background-image:asset-url('favicon.png');
  background-size:cover;

}



.fas fa-book {
  height:300px;
}



.iconmypurchases {
  background-image:asset-url('iconespurchases.png');
  background-size:cover;
  height:70px;
  width:75px;
  margin: 0 auto;
  transform:translate(-3px,0px);
  border-radius:10px;
}

.iconmyreviews {
 background-image:asset-url('myreviews.png');
 background-size:cover;
 height:70px;
 width:75px;
 margin: 0 auto;
 transform:translate(-1px,0px);
 border-radius:10px;
}

.iconmybooks {
  background-image:asset-url('mybooks2.png');
  background-size:cover;
  height:70px;
  width:70px;
  margin: 0 auto;
  border-radius:10px;
}

.graduateicon {
  text-align:center;
  margin:0 auto;
  margin-bottom:10px;
}



.logodashboard {
  background:asset-url('LogoSyllabuy2.png');
  width:200px;
}

.mini-syllabuy {
  background-image: asset-url('mini-syllabuy.png');
  width:174px;
  height:60px;
  margin:0 auto;
}

.money {
  width:120px;
}

.moneyetplus {

  margin-top:50px;
  opacity:0.8;
  box-shadow:0 0 5px;
  background:white;
  border-radius:10px;
  font-family:Nunito,700;
  text-align:center;
  height:157px;
  padding:10px;
  font-size:20px;
  line-height:20px;
  color:black;
  border:0px solid black;
}


#noteglobale {
  margin-top:10px;
  font-size: 48px;
  color:white;
  text-align:center;
  width:100px;
  height:100px;
}

.signeuro {
  width:100px;
  margin:0 auto;
}

.profit {
  width:100px;
  margin:0 auto;
  margin-left:20px;
}








@media(min-width: 1440px) {
.container1 {
  display:flex;
  width:80%;
  margin:0 auto;
  transform:translate(0px,-200px);

}
.dashboardcard {
  width:400px;
  margin:0 auto;
}
.infoperso {
  display:flex;
}

.dashboardlinks{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width:400px;
}

.dashboardcard2{
  width:400px;
  height:500px;
  margin-top:200px;
}

#headdash {
  font-size:64px;
  text-align:center;
  margin-bottom:100px;
}
.moneyetplus{
  display:none;
}

}

@media(min-width: 768px)and(max-width:1439px) {

.container1 {
  display:flex;
  transform:translate(0px,-240px);
}
.infoperso {
  font-size:12px;
  width:220px;
}

.dashboardcard {
  width:220px;
  margin:0 auto;
}
.dashboardlinks{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width:350px;
}

.dashboardcard2 {
  width:180px;
  margin:0 auto;
  height:300px;
  margin-top:200px;
}
.moneyetplus{
  display:none;
}

#headdash {
  font-size:56px;
  text-align:center;
  margin-bottom:100px;
}

}

@media(min-width: 416px)and(max-width:767px) {

.container1 {
  transform:translate(0px,-240px);
}
.infoperso {
  display:flex;
  justify-content:center;
}
.dashboardlinks{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width:350px;
  margin:0 auto;
}
#headdash {
  margin-top:30px;
  font-size:50px;
  text-align:center;
  margin-bottom:20px;
}
.moneyetplus{
  display:none;
}

}

@media(max-width: 415px) {
  .container1 {
  transform:translate(0px,-240px);
}
.infoperso {
  display:flex;
  justify-content:center;
  width:280px;
  font-size:8px;
  margin:0 auto;
}
.dashboardlinks{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width:300px;
  margin:0 auto;
}
#headdash {
  font-size:32px;
  text-align:center;
  margin-bottom:20px;
}
.moneyetplus{
  display:none;
}
}



