.fas fa-book {
  height:300px;
}

.dashboard {

height:800px;
margin-top:50px;
}

#hello {
  font-size:30px;
}

.dashboardlinks {
  height:190px;
  width:170px;
  margin: 0 auto;
  line-height:50px;
}

.mini-syllabuy {
  background-image: asset-url('mini-syllabuy.png');
  width:174px;
  height:60px;
  margin:0 auto;
}

.dashboardlink {
  background: white;
  height:200px;
  width:30px;


  border:1px solid black;
  text-align:center
}

.dashboardlink-book {

width:200px;

}

.infoperso {
  margin-left:100px;
}
.padding {
    padding: 3rem !important
}

.container1  {
  border:10px solid white;
  margin:0 auto;
  background:white;
  border-radius:10px;
  width:60%;
}

.mysyllabuy
{
  background-image:asset-url('mini-syllabuy.png');
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }

}

@media only screen and (max-width: 768px) {


}

