
#artbook
{
  background-image: asset-url("artbook.png");

}

#lawbook
{
    background-image: asset-url("lawbook.png");

}

#image-books-home-page {
  border-radius:5px;
}

.imageaside {
// background-image: asset-url("books-stack.png");
  width:100%;
  border-radius: 5px;
}

.container {
  margin-top: 80px;
}

.banner {
  background-image: asset-url("books-curved.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0px;
}

.banner h1 {
  color: white;
  font-size: 56px;
  text-shadow: 0 10px 30px rgba(0,0,0,1);
  margin-bottom: 16px;
}


.home-title {
  width:80%;
  margin:0 auto;
  text-align:center;
  font-family: 'Playfair Display', serif;
}



#search-fields {
  display: flex;
  margin:0 auto;
  max-width:600px;
  width:80%;
  border-radius:50px;

}

#about {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.search-bar {
  width: 600px;
}

.search-bar #query {
  height: 50px;
}

.search-button {
  margin-left: 8px;
}

.search-button #search-button {
  height: 50px;

}


// Cards home

.cards-home {
  display: flex;
  justify-content: center;
}

.card-home {
  margin: 0 32px 0 32px;
}

// .categories {

//   margin-left:79px;
// }

@media(min-width: 1024px) {

 .home-title h1 {
    font-size:44px;

  }

#search-fields {
  margin:0 auto;
  width:80%;
}
}



@media(min-width: 768px)and(max-width:1023px) {
  .home-title h1 {
   font-size:32px;
  }
}

@media(max-width: 360px) {
   .home-title h1 {
    font-size: 28px;

  }
}
@media(min-width: 361px)and(max-width:767px) {
   .home-title h1 {
  font-size: 32px;
  }
}

