.review-book-details
{
margin-left:50px;
}

.container3style {
  height: 1100px;
              width:100%;
              background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
