.arrow-left {
  // background:linear-gradient(-135deg, #3E64FF, #5EDFFF);

  top:50%;
  left:20px;
  color:white;
  font-weight: 400;
  font-size: 17px;
  margin-right:10px;
  transition: all 0.3s ease;
}



  .wrapper .title {
  color:#3E64FF;
  font-family: "'Work Sans', "Helvetica", "sans-serif;
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  line-height: 50px;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background:#3E64FF;

}
.wrapper {
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  background:white;
  border-radius:10px;
  z-index:3000;

}
 #container-signup {
  font-family: "Playfair Display", "Helvetica", "sans-serif";
 }


@media screen and(max-width: 414px){
  #container-signup {
   display:block;
   font-size:10px;
   padding:0px 40px 15px 40px;

     transform:translate(0px,-14px);
     height:600px;
  }

 .signup-body {


  }
.wrapper {

  height:580px;
   transform:translate(0px,10px);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color:#3E64FF;
  margin-bottom:20px;
  user-select: none;
  border-radius: 15px 15px 0 0;
background:transparent;
  opacity:0.9;
}

.arrow-left {
  background:linear-gradient(-135deg, #3E64FF, #5EDFFF);
display:none;
}
.form-inputs {
  line-height:5px;
  margin-top:40px;
  width:80%;
  margin:0 auto;
}
 #signupaside1 {
display:none;
}

  }


@media screen and(min-width: 415px)and(max-width: 767px) {
  #container-signup {
   display:block;
   font-size:10px;
   padding:0px 40px 15px 40px;

     transform:translate(0px,0px);
     height:500px;
     margin:0 auto;

  }
 .signup-body {
 height:1200px;
 text-align:center;
  }
.wrapper {

  height:720px;
  transform:translate(0px,10px);

}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color:#3E64FF;
  margin-bottom:20px;
  user-select: none;
  border-radius: 15px 15px 0 0;
background:transparent;
  opacity:0.9;
}

.arrow-left {
  background:linear-gradient(-135deg, #3E64FF, #5EDFFF);
display:none;
}
.form-inputs {
  line-height:15px;
  margin-top:40px;
  width:80%;
  margin:0 auto;
}
 #signupaside1 {
display:none;
}

  }

@media screen and(min-width: 768px)and(max-width: 1439px) {
  #container-signup {
    display:flex;
  }


#signupaside1 {

      width:540px;
      text-align:left;
      padding:30px;
      font-size:32px;
      font-weight:600;
      opacity:0.8;
      color:#3E64FF;
    }

.wrapper {

  height:720px;
  width:800px;
  transform:translate(0px,10px);

}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color:#3E64FF;
  margin-bottom:20px;
  user-select: none;
  border-radius: 15px 15px 0 0;
background:transparent;
  opacity:0.9;
}
.form-inputs {
  line-height:15px;
  margin-top:40px;
  width:80%;
  margin:0 auto;
}
.arrow-left {
  background:linear-gradient(-135deg, #3E64FF, #5EDFFF);
display:none;
}


  }

  @media only screen and(min-width: 1440px) {
    #container-signup {
    display:flex;
  }

 #signupaside1 {

      width:540px;
      text-align:left;
      padding:30px;
      font-size:64px;
      font-weight:600;
      opacity:0.8;
      color:#3E64FF;
    }

.wrapper {

  height:760px;
  width:800px;
  transform:translate(0px,10px);

}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color:#3E64FF;
  margin-bottom:20px;
  user-select: none;
  border-radius: 15px 15px 0 0;
background:transparent;
  opacity:0.9;
}
.form-inputs {
  line-height:15px;
  margin-top:40px;
  width:80%;
  margin:0 auto;
}
.arrow-left {
  background:linear-gradient(-135deg, #3E64FF, #5EDFFF);
display:none;
}


  }

