.arrow-left {
  // background:linear-gradient(-135deg, #3E64FF, #5EDFFF);

  top:50%;
  left:20px;
  color:white;
  font-weight: 400;
  font-size: 17px;
  margin-right:10px;
  transition: all 0.3s ease;
}

#signupaside {
  display:none;
  background:white;
  color:#3E64FF;
  border-radius:50px;
  max-height:300px;
}

.wrapper{

  background:#fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin: 0 auto;

}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color:#fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background:#3E64FF;
}
.wrapper form{
  padding:10px 30px 50px 30px;
}
.wrapper form .field{
  height:40px;
  width:100%;
  margin-top:20px;
  position: relative;
}
.wrapper form .field input{
  height:100%;
  width:100%;
  outline:none;
  font-size: 17px;
  padding-left: 20px;
  border:1px solid lightgray;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color:#ff5e78;
}
.wrapper form .field label{
  position:absolute;
  top:50%;
  left:20px;
  color:#999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform:translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top:0%;
  font-size: 16px;
  color:#ff5e78;
  background:#fff;
  transform:translateY(-50%);
}
form .content{
  display:flex;
  width:100%;
  height:50px;
  font-size: 16px;
  align-items:center;
  justify-content:space-between;
}
form .content .checkbox{
  display:flex;
  align-items:center;
  justify-content:center;
}
form .content input{
  width:15px;
  height:15px;
}
form .content label{
  color:#262626;
  user-select: none;
  padding-left:5px;
}
form .content .pass-link a{
  color:#c850c0;
}
form .field input[type="submit"]{
  color:#fff;
  border:none;
  padding-left:0;
  margin-top:-10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background:linear-gradient(-135deg, #c850c0, #ff5e78);
  transition:all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform:scale(0.95);
}






@media screen and(max-width: 414px){
  #container-signup {
   display:block;
   font-size:10px;
   padding:0px;
  }


.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color:#fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background:#3E64FF;
}

.arrow-left {
  // background:linear-gradient(-135deg, #3E64FF, #5EDFFF);
display:none;
}
.form-inputs {
  line-height:5px;
}

  }


@media screen and(min-width: 415px)and(max-width: 767px) {
  #container-signup {
width:80%;
  }
  .arrow-left {
 display:none;
}
  #signupaside {
display:none;
}

  }

@media screen and(min-width: 768px)and(max-width: 1440px) {
  #container-signup {
    display:flex;
  }
  #signupaside {
display:block;
width:340px;
text-align:left;
padding:30px;
font-size:32px;
font-weight:600;
opacity:0.5;
}

  }

@media screen and(min-width: 1440px) {
  #container-signup {
    display:flex;

  }
  #signupaside {
display:block;
width:540px;

text-align:left;
padding:30px;
font-size:32px;
font-weight:600;
opacity:0.8;
}

  }

