<div class="container">
  <h1 id="titreindexbook" class="text-center"> My purchases</h1>
  <p class="text-center"> See your existing purchases.</p>

<%= link_to 'Back to your dashboard', dashboard_path %>

<ul>
  <% @purchases.each do |purchase| %>
    <li><%= purchase.payment_method %></li>
  <%= link_to "Add a review on that purchase", new_user_purchase_review_path(current_user, purchase),:class  => "btn btn-light"%>
  <% end %>
</ul>


</div>
