.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
  padding:0px;
  flex-grow: 1;
}

.card {
  height: auto;
  width:15rem;
  margin:0 auto;
}

.card-body {
  padding: 8px 0 0 8px;
}

.card-title {
  font-size: 0.75rem;
}

.card-category {
  margin:0 auto;
  margin-top:5px;
}

.books-card {
  height: 390px;
  width: 154px;
  margin-bottom: 12px;
}
  
.books-card p {
  margin: 4px;
}

.card-title h3 {
  font-size: 1rem;
}

.container-books {
  display: flex;
}


.selling-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
  padding-right: 4px;
}

// Book Card Button

.book-button {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 18px;
  background-color: #3e64ff; 
}




// media queries

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
