<div class="container">
  <% if @reviews.blank? %>
    <p>You don't have any reviews written on you at the moment</p>
  <% else %>
    <% @reviews.each do |review| %>
      <li><%= review.content%></li>
    <% end %>
  <% end %>
</div>
