<div class="container">
  <p>Purchase book name: <%=@review.purchase.book.title%></p>
  <p>Person who bought the book: <%=@review.purchase.user.first_name%></p>
  <p>Review content:<%= @review.content %></p>
  <p>Review rating:<%= @review.rating %></p>
</div>
